# The Dataset
deep_learning/BT_Dataset

# Saved Models
deep_learning/saved_models

# Photos
Photos

# Demo
Graduation Project Demo.mp4
VisBrain presentation.pptx

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# virtualenv
venv/
ENV/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*


# VSCode
.vscode/
.history/

# Data
*.csv
*.xls
*.xlsx
*.json

# Logs
*.log
