@font-face {
  font-family: 'Bangla MN';
  src: local('Bangla MN'), url('../Fonts/bangla-mn.ttf') format('woff');
}


:root
{
    --main-color: #07035b;
    --special-color: #047f9f;
}

*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html 
{
  scroll-behavior: smooth;
}

body
{
  font-family: "Anek Bangla", sans-serif;
}
/*Container and media quaries*/
.container
{
  padding-left: var(--mainpadding);
  padding-right: var(--mainpadding);
  margin-left: auto;
  margin-right: auto;   
}
  
/* Small */
@media (min-width: 768px) {
  .container {
    width: 600px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 800px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
/* End glopal rules*/

.navbar
{
  padding-left:10px;
  padding-right:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(31, 64, 88) 50%, rgba(28,69,125,1) 159%);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.navbar .links
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  margin-right: 5%;
}
.navbar .links a
{
  text-decoration: none;
  color: white;
  font-family: 'Bangla MN';
  margin-top: 5px;
}
.navbar img
{
  width: 120px;
  height: 60px;
  margin-left: 5%;
}

.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

h1 {
  font-size: 28px;
  margin: 20px;
  color: #333;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

p {
  margin-bottom: 20px;
  color: #666;
  line-height: 1.7rem;
}

.model-section {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.arch-image{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.model-arch-image {
  width: 45%;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.training-image{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.model-LA-image{
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.metrics-images{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.model-image {
  width: 49%;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.footer
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
  bottom: 0;
  font-family: 'Bangla MN';
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(31, 64, 88) 50%, rgba(28,69,125,1) 159%);
}
.footer span
{
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 13px;
}

/* Smart phone dev. */
@media (max-width: 450px) {
  .container
  {
    width: 400px;
  }  
}

@media (max-width: 400px) {
  .container
  {
    width: 360px;
  }
}

@media (max-width: 370px) {
  .container
  {
    width: 320px;
  }
}