<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">

    <title>Our Model - VisBrain</title>
</head>
<body>
    <div class="navbar">
        <img id="navbar-image" src="{{ url_for('static', filename='images/logo2.png') }}" alt="VisBrain Logo">
        <div class="links">
            <a href="/">Home</a>|
            <a href="/our_model">Our Model</a>|
            <a href="/about_us">About Us</a>
        </div>
    </div>

    <div class="container">
        <h1>Our Model</h1>
        <p>Details about our model will go here.</p>
    </div>

    <div class="footer">
        <span>All copyrights reserved Faculty of computer and artificial intelligence Cairo University 2024 ©</span>
    </div>
</body>
</html>
